{{#view "TicTacToe.gameView"}}
  <div id="whoseTurnIsIt"> {{whoseTurnIsIt}} </div>
  {{#collection "TicTacToe.gameBoardView"}}
    {{#view "TicTacToe.CellView"}}
      <div class="markerBox {{positionalClasses}} {{playerClass}}" style="width: 100, height: 100, top: {{top}}, left: {{left}}">
        {{mark}}
      </div>
    {{/view}}
  {{/collection}}
{{/view}}
